VITE_API_BASE_URL=insert your api url here
VITE_NODE_ENV=insert your node environment here (development, production, etc.)
VITE_PORT=insert your desired port here (e.g., 3000)
VITE_API_URL_PROD=insert your production api url here